@import url('https://fonts.googleapis.com/css?family=Kavivanar|Pridi');
body {
	background-color: black;
	color: white;
	margin: 0;
	padding: 0;
	font-family: 'Kavivanar', cursive;
}

.chunk {
	margin-bottom: 16px;
}

@import 'assets/styles/Navbar.scss';
@import 'assets/styles/Home.scss';
@import 'assets/styles/Countdown.scss';
@import 'assets/styles/Registration.scss';
@import 'assets/styles/Checklist.scss';
