body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  margin-top: 50px; }

.navbar-brand {
  padding-bottom: 0px;
  padding-top: 0px; }

nav.navbar.navbar-inverse {
  margin-bottom: 0px; }

.home {
  background-color: black;
  color: white;
  margin-top: 50px; }
  .home .intro {
    height: 100vh; }
  .home .about {
    padding: 16px;
    background-color: #242424; }
