.home {
  background-color: black;
  color: white;
  margin-top: 0px; }
  .home .carousel-inner .item.active img {
    min-height: 100vh;
    width: 100%;
    margin: auto; }
  .home .intro {
    height: 100vh; }
  .home .cover {
    height: 100vh;
    background: url(assets/images/NYC-Aerial.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .home .triangle {
    opacity: 0.7;
    width: 100%;
    height: 100vh; }
  .home .header .head {
    border-bottom: 15px solid white;
    border-top: 15px solid white;
    margin-bottom: 15px; }
  .home .header .head-button {
    background-color: #242424;
    background-image: none;
    border: none; }
  .home .countdown {
    background-color: #242424;
    padding: 10px; }
    .home .countdown .counter {
      width: 75%;
      margin: auto;
      text-align: center; }
  .home .about {
    padding: 16px;
    background-color: white;
    color: black; }
  .home .testi-avatar {
    background: #fff none repeat scroll 0 0;
    border: 2px solid #ddd;
    border-radius: 50%;
    height: 90px;
    display: inline-block !important;
    padding: 2px;
    width: 90px; }
  @media only screen and (max-width: 600px) {
    .home .header {
      width: 100%; }
    .home .countdown {
      visibility: hidden;
      height: 0px; } }
