.home {
	color: white;
	margin-top: 0px;
}
.home .intro {
	height: 100vh;
}
.home .cover img {
	width: 100%;
}
.home .header .head {
	padding: 10px;
	background-color: #333;
	text-align: center;
	/* font-family: 'Patrick Hand', cursive; */
}
.home .countdown .counter {
	width: 75%;
	margin: auto;
	text-align: center;
}
.home .about {
	padding: 16px;
	background-color: white;
	color: black;
}
.home .testi-avatar {
	background: #fff none repeat scroll 0 0;
	border: 2px solid #ddd;
	border-radius: 50%;
	height: 90px;
	display: inline-block !important;
	padding: 2px;
	width: 90px;
}
@media only screen and (max-width: 600px) {
	.home .header {
		width: 100%;
	}
	.home .countdown {
		visibility: hidden;
		height: 0px;
	}

	.home .cover img {
		margin-top: 50px;
	}
}
