.registration {
	padding-top: 50px;
	background-color: #d1d1d1;
	background: url(../images/Atlanta2.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 100vh;
	height: 100%;
}
.registration .form-design {
	background-color: white;
	border-radius: 20px;
	padding: 15px 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 75%;
	color: black;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
